/* color scheme */
body {
    --bg-color: white;
    --text-color: #202020;
    --emph-color: #101010;
    --sub-text-color: #808080;
    --link-color: #1010da;
    --vlink-color: #681da8;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #1b1b20;
        --text-color: #c8c8c8;
        --emph-color: #e4e4e4;
        --link-color: #99c3ff;
        --vlink-color: #c58af9;
    }
}

/* boilerplate */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 140%;
    margin: 0;
    padding: 0 2.5em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1 {
    text-align: center;
    font-size: 2.5em;
}
h1, h2, h3, h4, h5, h6 {
    line-height: initial;
    color: var(--emph-color);
}
a:not(:hover) {
    text-decoration: none;
}
a {color: var(--link-color);}
a:visited {color: var(--vlink-color);}

/* custom */
.banner, .intro {
    font-size: 1.2rem;
    line-height: 150%;
}
.pic {
    max-width: 15em;
}
.banner {
    display: flex;
    align-items: center;
}
.lihead, b, strong, em, i {
    color: var(--emph-color);
}
.lihead {
    font-weight: bold;
}
.banner li {
    margin-bottom: 0;
}
li {
    margin-bottom: 0.2em;
}
.secondary {
    color: var(--sub-text-color);
    font-size: 1rem;
}

/* responsiveness */
@media (max-width: 800px) {
    body {padding: 0 1em;}
    ul {padding-left: 1em;}
    ol {padding-left: 1.2em;}
    .pic {margin-bottom: 1.5em;}
    .banner {flex-direction: column;}
    .contactInfo {align-self: start;}
}
@media (min-width: 801px) {
    p {text-align: justify;}
    .pic {margin-right: 2em;}
}
